body {
  color: #434455;
  background-color: #ffffff;
  font-family: Roboto, Arial, sans-serif;
  letter-spacing: 0.32px;
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: currentColor;
  font-style: normal;
}

a:hover,
a:focus {
  color: #404bbf;
}

ul {
  list-style-type: none;
  line-height: 1.5;
  margin: 0;
  padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 24px 0;
  border-top: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container {
  display: flex;
  gap: 76px;
}

.nav-list {
  display: flex;
  gap: 40px;
}

.address-list {
  display: flex;
  gap: 40px;
}

.logo {
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  color: #2e2f42;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.48px;
}

.logo .accent {
  color: #4d5ae5;
}

.nav {
  color: #2e2f42;
  font-weight: 500;
}

.hero-section {
  color: #ffffff;
  background-color: #2e2f42;
}

.hero-container {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding-top: 182px;
  padding-bottom: 182px;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.32px;
  margin-bottom: 48px;

  max-width: 496px;
}

.button {
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 0.64px;
  padding: 16px 32px;
  border: 0px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px #00000026;
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.title {
  font-size: 36px;
  color: #2e2f42;
  line-height: 1.1;
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.32px;
  margin-bottom: 72px;
}

.features-section {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.title-secondary {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
}

.team-section {
  background-color: #f4f4fd;
}

.team-element {
  background-color: #ffffff;
  box-shadow: 0px 2px 1px 0px #2e2f4214;

  box-shadow: 0px 1px 1px 0px #2e2f4229;

  box-shadow: 0px 1px 6px 0px #2e2f4214;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  width: calc((100% - 72px) / 3);
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-text {
  text-align: center;
  margin-bottom: 32px;
}
.team-title {
  text-align: center;
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.32px;
  margin-bottom: 8px;
  margin-top: 32px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
}

.footer {
  color: #f4f4fd;
  background-color: #2e2f42;
}

.card-text {
  padding-left: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.accent-footer {
  color: #f4f4fd;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-text {
  max-width: 264px;
  margin-top: 16px;
}
